@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #fcfbf9;
  --color-surface: #ffffff;
  --color-border: #E6E4DD;
  
  --color-ink: #1c1b1a;
  --color-ink-light: #4b4a49;
  --color-ink-lighter: #8b8a89;
  
  --color-brand-50: #f9f6f5;
  --color-brand-100: #f1e8e5;
  --color-brand-200: #dfcec8;
  --color-brand-300: #caa89f;
  --color-brand-400: #b48174;
  --color-brand-500: #c05c3c;
  --color-brand-600: #a3482c;
  --color-brand-700: #843821;
  --color-brand-800: #692d1b;
  --color-brand-900: #552618;

  --font-display: "Poppins", system-ui, sans-serif;
  --font-body: "Poppins", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-ink);
}

::selection {
  background-color: var(--color-brand-100);
  color: var(--color-brand-900);
}
